* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	outline: none;
	font-family: Poppins;
	transition: all 0.25s ease;
}

:root {
	--background: rgb(44, 45, 49);
	--background-alt: rgb(39, 40, 44);
	--background-dark: rgb(30, 31, 35);
	--hover: rgb(41, 42, 46);
	--text: rgb(240, 240, 240);
	--text-alt: rgb(170, 170, 170);
	--radius: 30px;
	--button-radius: 100px;
	--close-shadow: 0 2px 6px rgba(0, 0, 0, 0.075), 0 8px 14px rgba(0, 0, 0, 0.1);
	--distant-shadow: 0 2px 6px rgba(0, 0, 0, 0.125), 0 12px 20px rgba(0, 0, 0, 0.175);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: var(--background);
}

#title {
	margin-bottom: 30px;
	width: 85%;
	font-size: 50px;
	color: white;
}

#game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 25px auto;
	padding: 50px 0 55px;
	width: 90%;
	max-width: 700px;
	background-color: var(--background-dark);
	border-radius: var(--radius);
	box-shadow: var(--close-shadow);
}

#buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 90%;
}

#computer-selection {
	transform: rotate(180deg);
}

#score {
	margin: 20px;
	font-weight: 600;
	font-size: 45px;
	color: var(--text);
}

.rps {
	margin: 15px;
	height: 120px;
	width: 120px;
	background-color: var(--background-alt);
	border-radius: var(--button-radius);
	box-shadow: var(--close-shadow);
}

.rps img {
	padding: 25px;
	height: 120px;
	filter: invert(90%);
}

button {
	cursor: pointer;
}

button:hover,
button:focus {
	background-color: var(--hover) !important;
	box-shadow: var(--distant-shadow) !important;
}

#results {
	margin-top: 25px;
	font-size: 22px;
	font-weight: 500;
	color: var(--text-alt);
}

#restart-button {
	display: initial;
	margin-top: 50px;
	padding: 12px 24px;
	font-weight: 500;
	font-size: 25px;
	color: var(--text);
	background-color: var(--background-alt);
	border-radius: var(--button-radius);
	box-shadow: var(--close-shadow);
}

#restart-button.hidden {
	display: none;
}

.hidden {
	margin: 0;
	height: 0;
	width: 0;
	transform: scale(0);
}

.selected {
	transform: scale(1.1);
}

.big {
	transform: scale(1.25);
}
